In [140]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [141]:
df = pd.read_csv('output/cleaned_data.csv')

In [142]:
%matplotlib inline
%config Inlinebackend.figure_format= 'retina'
sns.set_context("poster")
sns.set(rc={"figure.figsize": (12.,6.)})
sns.set_style("whitegrid")

In [143]:
df = df.set_index('Unnamed: 0')
df.index.name = None

In [144]:
df

,Case Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Leg Injured
0,2018.06.25,25-Jun-2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,N
1,2018.06.18,18-Jun-2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,Y
2,2018.06.09,09-Jun-2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,Y
3,2018.06.08,08-Jun-2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,Y
4,2018.06.04,04-Jun-2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6296,ND.0006,Before 1906,Unprovoked,AUSTRALIA,New South Wales,,Swimming,Arab boy,M,NaN,FATAL,Y,N
6297,ND.0005,Before 1903,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,N
6298,ND.0004,Before 1903,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,N
6299,ND.0003,1900-1905,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,N
6301,ND.0001,1845-1853,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,N

In [145]:
df[df["Leg Injured"] == "Y"].shape[0] / df.shape[0] * 100

37.18083245890171

In [146]:
df[(df["Leg Injured"] == "Y") & (df["Activity"] == "Surfing")].shape[0] / df[df["Activity"] == "Surfing"].shape[0] * 100

52.52606255012029

In [147]:
df.drop(df[df['Injury'] == "FATAL"].index, inplace = True)
df

,Case Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Leg Injured
0,2018.06.25,25-Jun-2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,N
1,2018.06.18,18-Jun-2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,Y
2,2018.06.09,09-Jun-2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,Y
3,2018.06.08,08-Jun-2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,Y
4,2018.06.04,04-Jun-2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6289,ND.0013,No date (3 days after preceding incident) & pr...,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Fishing,a native fisherman,M,NaN,"FATAL, body not recovered but shark was caught...",Y,N
6290,ND.0012,Before 19-Jul-1913,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Wading,a young Scotsman,M,NaN,"FATAL, leg stripped of flesh",Y,Y
6291,ND.0011,Before 1911,Unprovoked,ASIA?,NaN,NaN,Swimming,Mr. Masury,M,NaN,Foot severed,N,Y
6293,ND.0009,Before 1906,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,boy,M,NaN,"FATAL, knocked overboard by tail of shark & ca...",Y,N
6301,ND.0001,1845-1853,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,N

In [159]:
df[df["Leg Injured"] == "Y"].shape[0] / df.shape[0] * 100

42.54552731638984

In [160]:
df[(df["Leg Injured"] == "Y") & (df["Activity"] == "Surfing")].shape[0] / df[(df["Activity"] == "Surfing")].shape[0] * 100

54.31177446102819

In [161]:
df[(df["Leg Injured"] == "Y") & (df["Sex"] == "M")].shape[0] / df[(df["Sex"] == "M")].shape[0] * 100

43.73781676413255

In [162]:
df[(df["Leg Injured"] == "Y") & (df["Activity"] == "Surfing") & (df["Sex"] == "M")].shape[0] / df[(df["Activity"] == "Surfing") & (df["Sex"] == "M")].shape[0] * 100

54.660633484162894

In [163]:
df[(df["Leg Injured"] == "Y") & (df["Sex"] == "F")].shape[0] / df[(df["Sex"] == "F")].shape[0] * 100

56.94980694980695

In [164]:
df[(df["Leg Injured"] == "Y") & (df["Activity"] == "Surfing") & (df["Sex"] == "F")].shape[0] / df[(df["Activity"] == "Surfing") & (df["Sex"] == "F")].shape[0] * 100

52.0