In [51]:
import pandas as pd

In [52]:
#Importing data from the cleaning juyter notebook
df = pd.read_csv('output/cleaned_data.csv')

In [53]:
#When importing a new column appeared with the old indexes. I get rid of it and I use it as the new indexes
df = df.set_index('Unnamed: 0')
df.index.name = None

In [54]:
df

,Case Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Leg Injured
0,2018.06.25,25-Jun-2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,N
1,2018.06.18,18-Jun-2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,N
2,2018.06.09,09-Jun-2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,Y
3,2018.06.08,08-Jun-2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,Y
4,2018.06.04,04-Jun-2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6296,ND.0006,Before 1906,Unprovoked,AUSTRALIA,New South Wales,,Swimming,Arab boy,M,NaN,FATAL,Y,N
6297,ND.0005,Before 1903,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,N
6298,ND.0004,Before 1903,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,N
6299,ND.0003,1900-1905,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,N
6301,ND.0001,1845-1853,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,N

In [55]:
#Percentage of people that get their leg injured in shark attacks and weren't surfing
df[(df["Leg Injured"] == "Y") & (df["Activity"] != "Surfing")].shape[0] / df[df["Activity"] != "Surfing"].shape[0] * 100

26.750167747707447

In [56]:
#Percentage of surfers that get their leg injured in shark attacks (It's much higher!!)
df[(df["Leg Injured"] == "Y") & (df["Activity"] == "Surfing")].shape[0] / df[df["Activity"] == "Surfing"].shape[0] * 100

45.950280673616675

In [57]:
'''I realized that entries which have just "FATAL"as their injury description don't give me any info 
on whether there was an injury in the leg or if it was the cause of the fatality so I just drop them.
Now my dataset has 5000 entries instead of 6300'''
df.drop(df[df['Injury'] == "FATAL"].index, inplace = True)
df

,Case Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Leg Injured
0,2018.06.25,25-Jun-2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,N
1,2018.06.18,18-Jun-2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,N
2,2018.06.09,09-Jun-2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,Y
3,2018.06.08,08-Jun-2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,Y
4,2018.06.04,04-Jun-2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6289,ND.0013,No date (3 days after preceding incident) & pr...,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Fishing,a native fisherman,M,NaN,"FATAL, body not recovered but shark was caught...",Y,N
6290,ND.0012,Before 19-Jul-1913,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Wading,a young Scotsman,M,NaN,"FATAL, leg stripped of flesh",Y,Y
6291,ND.0011,Before 1911,Unprovoked,ASIA?,NaN,NaN,Swimming,Mr. Masury,M,NaN,Foot severed,N,Y
6293,ND.0009,Before 1906,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,boy,M,NaN,"FATAL, knocked overboard by tail of shark & ca...",Y,N
6301,ND.0001,1845-1853,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,N

In [58]:
#I check again for the percentage of non-surfers that got their leg injured (without taking just "FATAL" injuries into account)
df[(df["Leg Injured"] == "Y") & (df["Activity"] != "Surfing")].shape[0] / df[(df["Activity"] != "Surfing")].shape[0] * 100

31.548404115009234

In [59]:
#I do the same but just for people that were surfing (It's still higher!!!! :))
df[(df["Leg Injured"] == "Y") & (df["Activity"] == "Surfing")].shape[0] / df[(df["Activity"] == "Surfing")].shape[0] * 100

47.51243781094527

In [60]:
#Now I calculate the percentage of non-surfers that died and had any word related to legs in the description of their injury
df[(df["Leg Injured"] == "Y") & (df["Activity"] != "Surfing") & (df["Fatal (Y/N)"] == "Y")].shape[0] / df[(df["Activity"] != "Surfing") & (df["Fatal (Y/N)"] == "Y")].shape[0] * 100

29.42271880819367

In [61]:
#I do the same for surfers. There's a lot of fatalities!!! :o
df[(df["Leg Injured"] == "Y") & (df["Activity"] == "Surfing") & (df["Fatal (Y/N)"] == "Y")].shape[0] / df[(df["Activity"] == "Surfing") & (df["Fatal (Y/N)"] == "Y")].shape[0] * 100

39.39393939393939

In [62]:
#Percentage of non-surfing males that got their leg injured
df[(df["Leg Injured"] == "Y") & (df["Activity"] != "Surfing") & (df["Sex"] == "M")].shape[0] / df[(df["Activity"] != "Surfing") & (df["Sex"] == "M")].shape[0] * 100

32.077359119706564

In [63]:
#Percentage of male surfers that got their leg injured
df[(df["Leg Injured"] == "Y") & (df["Activity"] == "Surfing") & (df["Sex"] == "M")].shape[0] / df[(df["Activity"] == "Surfing") & (df["Sex"] == "M")].shape[0] * 100

47.782805429864254

In [64]:
#Percentage of non-surfing females that got their leg injured
df[(df["Leg Injured"] == "Y") & (df["Activity"] != "Surfing") & (df["Sex"] == "F")].shape[0] / df[(df["Activity"] != "Surfing") & (df["Sex"] == "F")].shape[0] * 100

48.081264108352144

In [65]:
#Percentage of female surfers that got their leg injured (less than female non-surfers :o)
df[(df["Leg Injured"] == "Y") & (df["Activity"] == "Surfing") & (df["Sex"] == "F")].shape[0] / df[(df["Activity"] == "Surfing") & (df["Sex"] == "F")].shape[0] * 100

45.33333333333333

In [66]:
#Export current data to use in visualization
df.to_csv("output/analized_data.csv")