In [1]:
import re
import pandas as pd
import numpy as np
import sys
sys.path.append(r"C:\Users\Daniel\Desktop\Projects\project-pandas\src")
from cleaning import*

In [2]:
pd.options.mode.chained_assignment = None

In [3]:
df = pd.read_csv('input/attacks.csv', encoding='cp1252')

In [4]:
df.sample(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
11226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4649,1944.04.00,Apr-1944,1944.0,Unprovoked,NICARAGUA,Lake Nicaragua (fresh water),NaN,NaN,multiple bathers,NaN,...,Bull sharks to 1.5 m [5'] in length,V.M. Coppleson (1958),1944.04.00-LakeNicaragua.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1944.04.00,1944.04.00,1654.0,NaN,NaN
23144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10924,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4154,1958.07.00.b,Jul-1958,1958.0,Unprovoked,BAHAMAS,Abaco Islands,North of Walkers Cay,"Spearfishing, had fish on his spear",Stanton Waterman,M,...,"Tiger shark, <2 m TL","S. Waterman, GSAF",1958.07.00.b-Waterman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1958.07.00.b,1958.07.00.b,2149.0,NaN,NaN
12216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3349,1971.12.05,05-Dec-1971,1971.0,Unprovoked,AUSTRALIA,Queensland,Gladstone,NaN,Gregory Carroll,M,...,NaN,"The Age, 12/9/1971",1971.12.05-Carroll.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1971.12.05,1971.12.05,2954.0,NaN,NaN
14940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.drop(["Year", "Time", "Species ", 
         "Investigator or Source", "pdf", 
         "href formula", "href", "Case Number.1", 
         "Case Number.2", "original order", "Unnamed: 22", 
         "Unnamed: 23"], axis=1, inplace=True)

In [6]:
df.sample(10)

,Case Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N)
11297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7958,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
756,2012.08.04,04-Aug-2012,Unprovoked,FRENCH POLYNESIA,Tuamotus,Kaukura Atoll,Spearfishing,Téophane Tauiratea,M,NaN,Shoulder bitten,N
22851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7427,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df = df[~df.isin([0, np.NAN, '', "NaN", "xx", "0"]).all(1)]

In [8]:
df.sample(10)

,Case Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N)
5033,1930.12.00,Dec-1930,Unprovoked,AUSTRALIA,New South Wales,Parramata River,NaN,male,M,NaN,FATAL,Y
3093,1979.08.03,03-Aug-1979,Unprovoked,THAILAND,Southern Thailand,NaN,Murdered by Thai pirates,male,M,NaN,FATAL,Y
4693,1942.11.16,16-Nov-1942,Sea Disaster,SOLOMON ISLANDS,NaN,Battle of Guadalcanal,Thrown from destroyer when shell hit,NaN,M,19,Hip bitten,N
900,2011.07.06,06-Jul-2011,Unprovoked,REUNION,Saint-Gilles,Roches Noires,Surfing,Arnaud Dussel,M,16,Minor injuries: scratches on nose & ankle. Boa...,N
4672,1943.06.16,16-Jun-1943,Boating,AUSTRALIA,Tasmania,Triabunna,Fishing for cod,"a dinghy, occupant Neil Parker",M,18,"No injury to occupant, shark grabbed rudder an...",N
1647,2004.08.03,03-Aug-2004,Unprovoked,AUSTRALIA,New South Wales,Byron Bay,Spearfishing,male,M,30,Minor puncture wounds to leg,N
5967,1862.08.02.R,Reported 02-Aug-1862,Invalid,SPAIN,Malaga,Fuengirola,NaN,male,M,NaN,Possible drowning and scavenging,NaN
3523,1967.07.00,Jul-1967,Invalid,USA,South Carolina,NaN,Surfing,Tim Dowdy,M,18,Incident not confirmed,NaN
511,2014.08.27.a,27-Aug-2014,Unprovoked,USA,South Carolina,"Surfside Beach, Horry County",Standing,female,F,NaN,Heel bitten,N
4156,1958.06.26,26-Jun-1958,Provoked,USA,Florida,"Sanibel Island, Lee County",Wading,Eric Napier Cockerill,M,59,Right foot bitten when he walked into shark's ...,N

In [9]:
df = df.drop_duplicates()
df

,Case Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N)
0,2018.06.25,25-Jun-2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N
1,2018.06.18,18-Jun-2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N
2,2018.06.09,09-Jun-2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N
3,2018.06.08,08-Jun-2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N
4,2018.06.04,04-Jun-2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N
...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y
6298,ND.0004,Before 1903,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y
6299,ND.0003,1900-1905,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y
6300,ND.0002,1883-1889,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y
6301,ND.0001,1845-1853,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y

In [10]:
df = duplicates(df)

In [11]:
df

,Case Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N)
0,2018.06.25,25-Jun-2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N
1,2018.06.18,18-Jun-2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N
2,2018.06.09,09-Jun-2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N
3,2018.06.08,08-Jun-2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N
4,2018.06.04,04-Jun-2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N
...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y
6298,ND.0004,Before 1903,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y
6299,ND.0003,1900-1905,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y
6300,ND.0002,1883-1889,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y
6301,ND.0001,1845-1853,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y

In [12]:
df["Activity"] = df["Activity"].apply(surf)

In [13]:
df["Leg Injured"] = df["Injury"].apply(leg)

In [14]:
df

,Case Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Leg Injured
0,2018.06.25,25-Jun-2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,N
1,2018.06.18,18-Jun-2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,N
2,2018.06.09,09-Jun-2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,Y
3,2018.06.08,08-Jun-2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,Y
4,2018.06.04,04-Jun-2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,N
6298,ND.0004,Before 1903,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,N
6299,ND.0003,1900-1905,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,N
6300,ND.0002,1883-1889,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,N
6301,ND.0001,1845-1853,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,N

In [15]:
df = df[(df['Injury'].notna()) & (df['Activity'].notna())]

In [16]:
df["Age"] = df["Age"].apply(age)

In [18]:
df["Age"].unique()

array(['57', '11', '48', 'nan', '18', '52', '15', '12', '32', '10', '21',
       '34', '30', '60', '33', '29', '54', '41', '37', '56', '19', '25',
       '69', '38', '55', '35', '46', '45', '14', '40', '28', '20', '24',
       '26', '49', '22', '7', '31', '17', '13', '42', '3', '8', '50',
       '16', '82', '73', '68', '51', '39', '58', '47', '61', '65', '36',
       '66', '43', '9', '72', '59', '6', '27', '64', '23', '71', '44',
       '62', '63', '70', '53', 'Teen', 'teen', '77', '74', '5', '86',
       'Teens', '84', '\xa0 ', ' ', '6½', '75', '87', '67', 'Elderly',
       'adult', '9 months', '1', '(adult)', 'X', 'MAKE LINE GREEN', '81',
       '"young"', '7 or 8', 'F', 'young', '  ', '78', 'A.M.', '2½'],
      dtype=object)

In [19]:
df = df.rename(columns={'Sex ': 'Sex'})

In [20]:
df.drop(df[(df["Sex"]=="lli") | (df["Sex"]=="N") | (df["Sex"]==".")].index, inplace = True)

In [21]:
df["Sex"] = df["Sex"].apply(male)

In [23]:
df["Sex"].unique()

array(['F', 'M', nan], dtype=object)

In [24]:
df.to_csv("output/cleaned_data.csv")