In [287]:
import re
import pandas as pd
import numpy as np

In [288]:
pd.set_option("display.max_columns", None)

In [289]:
df = pd.read_csv('input/attacks.csv', encoding='cp1252')

In [290]:
df.sample(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
21590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3805,1962.07.28,28-Jul-1962,1962.0,Unprovoked,USA,South Carolina,"Off Hilton Head, Beaufort County",Standing,Robert Stein,M,21,Lacerations on left foot & hand,N,NaN,1.8 m to 2.4 m [6' to 8'] shark,R. Stein,1962.07.28-Stein.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1962.07.28,1962.07.28,2498.0,NaN,NaN
6331,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [291]:
df.drop(["Year", "Time", "Species ", 
         "Investigator or Source", "pdf", 
         "href formula", "href", "Case Number.1", 
         "Case Number.2", "original order", "Unnamed: 22", 
         "Unnamed: 23"], axis=1, inplace=True)

In [292]:
df.sample(10)

,Case Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N)
18278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18911,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4259,1956.03.00.b,Mar-1956,Unprovoked,AUSTRALIA,Western Australia,Fremantle,Attempting to set underwater endurance record,Theo Brown,M,21,"No injury to diver, but shark bit hole in his ...",N
23326,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3015,1981.08.24.b,24-Aug-1981,Provoked,USA,Florida,Gulf Island National Seashore Park,Spearfishing,Ted Best,M,19,"Shot shark, then it bit him. Puncture wounds o...",N
23715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8576,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [293]:
df = df.dropna(axis=0, how='all')

In [294]:
df.sample(10)

,Case Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N)
7678,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4098,1959.04.27,27-Apr-1959,Invalid,AUSTRALIA,New South Wales,Maroubra Bay,Spearfishing,Peter Holland,M,22,Thigh lacerated,NaN
5596,1898.01.24,1898.01.24,Unprovoked,SRI LANKA,NaN,Colombo Harbor,Swimming,2 U.S. Marines,M,NaN,FATAL,Y
3223,1975.06.23.a,23-Jun-1975,Unprovoked,USA,South Carolina,"North Myrtle Beach, Horry County",Standing,Donna Hutson,F,15,Hand & wrist bitten,N
2578,1991.11.00,Nov-1991,Unprovoked,AUSTRALIA,Western Australia,"Backbeach, Halls Head",Boogie boarding,Chad Wittorff,M,14,Calf scratched & chunk bitten from board,N
6412,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7741,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3976,1960.08.04.a,04-Aug-1960,Unprovoked,USA,Delaware,"Mispillion Light, Delaware Bay","Fishing, Struck by another shark when removing...",Russell Saylor,M,46,Hand lacerated,N
1302,2007.12.18,18-Dec-2007,Unprovoked,AUSTRALIA,New South Wales,Jimmy's Beach,Surfing,Ben Morcom,M,31,Severe lacerations to right buttock,N
5483,1906.01.28,28-Jan-1906,Unprovoked,AUSTRALIA,New South Wales,Georges River,Bathing,William Joseph Dobson.,M,31 or 33,FATAL,Y

In [295]:
df = df[~df.isin([0, np.NAN, '', "NaN", "xx", "0"]).all(1)]

In [296]:
df.sample(10)

,Case Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N)
1929,2001.07.26,26-Jul-2001,Unprovoked,USA,South Carolina,"Myrtle Beach, Horry County",NaN,female,F,NaN,Survived,N
3602,1965.11.21.a,21-Nov-1965,Unprovoked,PACIFIC OCEAN,"250 miles southwest of O'ahu, Hawaii",Japanese fishing boat Taihei Maru No.10,"Hauling dead shark aboard, when another shark ...",Takashi Kameya,M,44,"Left forearm bitten, surgically amputated",N
115,2017.07.20.c,20-Jul-2017,Invalid,USA,South Carolina,"Hilton Head Island, Beaufort County",Swimming,Ellie Rogier,F,8,Foot injured,NaN
2060,2000.03.31,31-Mar-2000,Unprovoked,USA,Florida,Santa Rosa Sound Escambia County,Fishing,Dave Edwards,M,NaN,"No Injury, bumped by shark",N
3885,1961.08.02,02-Aug-1961,Unprovoked,USA,Hawaii,"Pearl Harbor Channel, O'ahu","Net fishing, picking catch from the net",Kazuhiho Kato,M,38,Hand bitten,N
136,2017.06.07.R,Reported 07-Jun-2017,Unprovoked,UNITED KINGDOM,South Devon,Bantham Beach,Surfing,Rich Thomson,M,30,"Bruise to leg, cuts to hand sustained when he ...",N
3251,1974.09.07,07-Sep-1974,Unprovoked,ISRAEL,Red Sea,"North Beach, Eilat",Swimming,Beatrice Aharonowich,F,20,Bitten 12 times: multiple lacerations on hands...,N
1891,2001.11.23,23-Nov-2001,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock Beach, Lennox Head",Surfing,Roger Frankland,M,49,"No Injury, shark hit board",N
1587,2005.05.15,15-May-2005,Unprovoked,AUSTRALIA,Queensland,50 km east of Townsville,Spearfishing,Ben Edelstein,M,NaN,Severe injury to lower leg,N
4376,1953.07.00,01-Jul-1953,Unprovoked,PANAMA,Gulf of Panama,60 miles offshore,Retrieving bait box that had fallen overboard,Jose Gonzales,M,19,Hand severely bitten,N

In [297]:
df = df.drop_duplicates()
df

,Case Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N)
0,2018.06.25,25-Jun-2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N
1,2018.06.18,18-Jun-2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,F,11,Minor injury to left thigh,N
2,2018.06.09,09-Jun-2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N
3,2018.06.08,08-Jun-2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N
4,2018.06.04,04-Jun-2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N
...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y
6298,ND.0004,Before 1903,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y
6299,ND.0003,1900-1905,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y
6300,ND.0002,1883-1889,Unprovoked,PANAMA,NaN,"Panama Bay 8N, 79W",NaN,Jules Patterson,M,NaN,FATAL,Y
6301,ND.0001,1845-1853,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y

In [298]:
counter = 0
df2 = pd.DataFrame()
indexes = df.index.values.tolist()
for i in range(len(indexes)-1):
    data = df.iloc[[indexes[i]]]
    for column in df.columns:
            if df.at[indexes[i], column] == df.at[indexes[i+1], column]:
                counter += 1
    if counter < 9:
        df2 = pd.concat([df2, data])
    counter = 0
df = df2

In [299]:
df

,Case Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N)
0,2018.06.25,25-Jun-2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N
1,2018.06.18,18-Jun-2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,F,11,Minor injury to left thigh,N
2,2018.06.09,09-Jun-2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N
3,2018.06.08,08-Jun-2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N
4,2018.06.04,04-Jun-2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N
...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y
6298,ND.0004,Before 1903,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y
6299,ND.0003,1900-1905,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y
6300,ND.0002,1883-1889,Unprovoked,PANAMA,NaN,"Panama Bay 8N, 79W",NaN,Jules Patterson,M,NaN,FATAL,Y
6301,ND.0001,1845-1853,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y

In [300]:
def surfing(x):
    if re.search("[sS]urf", str(x)):
        return "Surfing"
    else:
        return x

df["Activity"] = df["Activity"].apply(surfing)

In [301]:
def leg(x):
    if re.search("\s?([lL][eE][gG][sS]?|[fF][eEoO][eEoO][tT][sS]?|[tT][hH][iI][gG][hH][sS]?|[aA][nN][kK][lL][eE][sS]?)\s?", str(x)):
        return "Y"
    else:
        return "N"
df["Leg Injured"] = df["Injury"].apply(leg)

In [302]:
df

,Case Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Leg Injured
0,2018.06.25,25-Jun-2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,N
1,2018.06.18,18-Jun-2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,F,11,Minor injury to left thigh,N,Y
2,2018.06.09,09-Jun-2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,Y
3,2018.06.08,08-Jun-2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,Y
4,2018.06.04,04-Jun-2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,N
6298,ND.0004,Before 1903,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,N
6299,ND.0003,1900-1905,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,N
6300,ND.0002,1883-1889,Unprovoked,PANAMA,NaN,"Panama Bay 8N, 79W",NaN,Jules Patterson,M,NaN,FATAL,Y,N
6301,ND.0001,1845-1853,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,N

In [303]:
df.to_csv("output/cleaned_data.csv")